
.ui-datepicker {
  margin : 31px 0 0 0;
  padding: 20px;
  display: none;
  z-index: 1000000 !important;
  border: 1px solid $gray-l7;
  
  .ui-widget-content {
    border: 1px solid $gray-l2;
    background: $white-l1;
    color: $font-main-color;
  }

  .ui-widget-header {
    border: none;
    background: none;
    color: $font-main-color;
    font-weight: normal;
  }

  .ui-datepicker-calendar {

    td a, th {
      text-align: center;
    }

    th{
      border-top: 1px solid $gray-l7;
      border-bottom: 1px solid $gray-l7;
      font-weight: $font-weight-regular;
      background: none;
    }

    tr:nth-child(even){ background: none; }

  }

  .ui-icon { text-indent: -9999px; }

  .ui-icon, .ui-widget-content .ui-icon {
    @extend %cursor;
    background-image: none !important;
  }

  .ui-icon-circle-triangle-w {
    content:" ";
    display:inline-block;
    position: relative;
    margin: 0 9px 0 0;
    width : 0;
    height: 0;
    border-style: solid;
    border-width: 3px 5px 3px 0;
    border-color: transparent $gray-l7 transparent transparent ;
  }

  .ui-icon-circle-triangle-e {
    content:" ";
    display:inline-block;
    position: relative;
    margin: 0 9px 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 5px;
    border-color: transparent transparent transparent $gray-l7;
  }

  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 1.8em;
    height: 1.8em;
  }

  .ui-datepicker .ui-datepicker-prev span,
  .ui-datepicker .ui-datepicker-next span {
    margin: -4px 0 0 -4px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .ui-datepicker .ui-datepicker-prev-hover,
  .ui-datepicker .ui-datepicker-next-hover {
    top: 0 !important;
    background: none;
  }
  .ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
    background: none;
  }
  .ui-datepicker .ui-datepicker-next {
    right: 0 !important;
    background: none;
  }
  .ui-datepicker .ui-datepicker-prev-hover {
    left: 0 !important;
    background: none;
  }
  .ui-datepicker .ui-datepicker-next-hover {
    right: 0 !important;
    background: none;
  }

  /* Interaction states
  ----------------------------------*/
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    font-weight: normal;
    color: $font-main-color;
  }

  .ui-state-default a,
  .ui-state-default a:link,
  .ui-state-default a:visited {
    color: $font-main-color;
    text-decoration: none;
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    cursor: pointer;
    border: none;
    background: $darken-blue;
    font-weight: normal;
    color: $white-l1;
  }

  .ui-state-hover a,
  .ui-state-hover a:hover,
  .ui-state-hover a:link,
  .ui-state-hover a:visited,
  .ui-state-focus a,
  .ui-state-focus a:hover,
  .ui-state-focus a:link,
  .ui-state-focus a:visited {
    color: $white-l1/*{fcHover}*/;
    text-decoration: none;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    border: none/*{borderColorActive}*/;
    background: $darken-blue/*{bgColorActive}*/;
    font-weight: normal/*{fwDefault}*/;
    color: $white-l1/*{fcActive}*/;
  }

  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: $font-main-color/*{fcActive}*/;
    text-decoration: none;
  }

  .ui-datepicker-today a{
    font-weight: $font-weight-bold !important;
  }
  
}
