/** 
** Common Base Style 
**/

// "border" / "padding" を "width" 以内に収める
* { @include box-sizing(border-box); }

// Aタグ初期値
a {
  text-decoration: none;
  cursor: pointer;
  color : $font-main-color;
}

// for js/directives/editable-period.js (in-place edit widget)
.inner-period-form {
  cursor: pointer;
  input {
    padding: 2px !important;
    font-size: 12px !important;
  }
  i[class^="icon-"], i[class*=" icon-"] {
    min-width: 12px;
  }
}

// icon font (icon moon)
@font-face {
  font-family: 'round-icon';
  src:url('../fonts/icon-fonts/icomoon.eot?-d5ylue');
  src:url('../fonts/icon-fonts/icomoon.eot?#iefix-d5ylue') format('embedded-opentype'),
  url('../fonts/icon-fonts/icomoon.woff?-d5ylue') format('woff'),
  url('../fonts/icon-fonts/icomoon.ttf?-d5ylue') format('truetype'),
  url('../fonts/icon-fonts/icomoon.svg?-d5ylue#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


